

*
{
    margin: 0;
    padding: 0;
}


body
{
    grid-template-areas: 
    "navBar ",
    "asideBar grillaProd"
    "grillaProd"
    "footer footer";
}

nav
{
    display: grid;
    grid-area: navBar;
    background-color: darkblue;


}


nav p
{
    color: whitesmoke;
    font: bold arial 15px;
    text-align: center;
}

aside
{
    display: grid;
    grid-area: asideBar;
    background-color: gray;
    border: solid black 5px;


}

aside ul
{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 1rem;


}

aside ul li a
{
    text-decoration: none;
    
}

section
{
    display: grid;
    grid-area: grillaProd;
    background-color: gray;
    border: solid darkgreen 5px;

}


.item
{
    display: flex;
    flex-direction: column;
    margin: 5% 15% ;
    
    border: solid darkkhaki 3px;
    

    align-items: center;

}


.item img
{
    width: 30%;
    margin: 5%;
}

.item button
{
    width: 40%;
    margin: 5%;
}

footer
{
    display: grid;
    grid-area: footer;
    direction: row;
    text-align: center;
}